@charset "utf-8";

// Set your brand colors
$ra-primary: #3E4346;
$ra-link: #2D3133;

// Update Bulma's global variables
$primary: $ra-primary;
$link: $ra-link;

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";
